<h1>All posts</h1>

<% @categories.each do |category| %>
  <%= link_to category.name, posts_path(:category_id => category.id) %>
<% end %>

<hr>

<% if user_signed_in? %>
  <hr>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<hr>
<%= link_to "New Post", new_post_path %>
<hr>

<% @posts.each do |post| %>
  <p>
    <small><%= post.category && post.category.name %></small><br>
  	<% if post.image? %>
      <%= link_to image_tag(post.image.url(:thumb)), post_path(post) %><br>
    <% end %>
    <%= link_to post.title, post_path(post) %>
  </p>
<% end %>

<% if @posts.blank? %>
  <h4>There are no Pins containing the term <%= params[:search] %>.</h4>
<% end %>