<h1>All posts</h1>

<% if user_signed_in? %>
  <hr>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<hr>
<%= link_to "New Post", new_post_path %>
<hr>

<% @posts.each do |post| %>
  <p><%= link_to post.title, post_path(post) %></p>
<% end %>