<!DOCTYPE html>
<html>
  <head>
    <title>Pins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Pins" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <%= yield %>
  </body>
</html>
